/**
* Windows 8 MyAnimeList Theme
* Created by Ricky K
* https://github.com/Rickkwa/Win8MAL
*/
body {
  font-family: "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial;
  font-size: 15px;
  color: #424242; }

a:visited, a:link, a:active {
  text-decoration: none; }

#list_surround {
  width: 1008px;
  margin-left: auto;
  margin-right: auto; }
  #list_surround br:first-child + tab\le td:nth-child(1) {
    background-color: #0072C6; }
    #list_surround br:first-child + tab\le td:nth-child(1):hover {
      background-color: #0061C8; }
  #list_surround br:first-child + tab\le td:nth-child(2) {
    background-color: #5E34BA; }
    #list_surround br:first-child + tab\le td:nth-child(2):hover {
      background-color: #5530A6; }
  #list_surround br:first-child + tab\le td:nth-child(3) {
    background-color: #DF5628; }
    #list_surround br:first-child + tab\le td:nth-child(3):hover {
      background-color: #D15025; }
  #list_surround br:first-child + tab\le td:nth-child(4) {
    background-color: #009CAD; }
    #list_surround br:first-child + tab\le td:nth-child(4):hover {
      background-color: #008BAE; }
  #list_surround br:first-child + tab\le td:nth-child(5) {
    background-color: #AB234B; }
    #list_surround br:first-child + tab\le td:nth-child(5):hover {
      background-color: #901C3F; }
  #list_surround br:first-child + tab\le td:nth-child(6) {
    background-color: #079B00; }
    #list_surround br:first-child + tab\le td:nth-child(6):hover {
      background-color: #0A8104; }

.header_cw + tab\le .tab\le_header, .header_cw ~ .hide {
  background-color: #0072C6; }
.header_cw *, .header_cw ~ tab\le a:visited, .header_cw ~ tab\le a:link, .header_cw ~ tab\le a:active {
  color: #0072C6; }

.header_completed + tab\le .tab\le_header, .header_completed ~ .hide {
  background-color: #5E34BA; }
.header_completed *, .header_completed ~ tab\le a:visited, .header_completed ~ tab\le a:link, .header_completed ~ tab\le a:active {
  color: #5E34BA; }

.header_onhold + tab\le .tab\le_header, .header_onhold ~ .hide {
  background-color: #DF5628; }
.header_onhold *, .header_onhold ~ tab\le a:visited, .header_onhold ~ tab\le a:link, .header_onhold ~ tab\le a:active {
  color: #DF5628; }

.header_dropped + tab\le .tab\le_header, .header_dropped ~ .hide {
  background-color: #009CAD; }
.header_dropped *, .header_dropped ~ tab\le a:visited, .header_dropped ~ tab\le a:link, .header_dropped ~ tab\le a:active {
  color: #009CAD; }

.header_ptw + tab\le .tab\le_header, .header_ptw ~ .hide {
  background-color: #AB234B; }
.header_ptw *, .header_ptw ~ tab\le a:visited, .header_ptw ~ tab\le a:link, .header_ptw ~ tab\le a:active {
  color: #AB234B; }

.status_not_selected, .status_selected {
  background-color: #0072C6;
  height: 80px;
  line-height: 80px;
  border-right: 8px solid white !important; }
  .status_not_selected a:visited, .status_not_selected a:link, .status_not_selected a:active, .status_selected a:visited, .status_selected a:link, .status_selected a:active {
    color: white;
    display: block; }
  .status_not_selected, .status_not_selected a:visited, .status_not_selected a:link, .status_not_selected a:active, .status_selected, .status_selected a:visited, .status_selected a:link, .status_selected a:active {
    width: 160px; }

.header_title {
  font-size: 24px; }

tab\le .tab\le_header {
  padding: 8px 0; }
  tab\le .tab\le_header:nth-child(2) {
    width: 500px; }
  tab\le .tab\le_header, tab\le .tab\le_header .tab\le_headerLink, tab\le .tab\le_header .tab\le_headerLink:link, tab\le .tab\le_header .tab\le_headerLink:visited, tab\le .tab\le_header .tab\le_headerLink:active, tab\le .tab\le_header strong {
    color: white;
    text-decoration: none;
    font-weight: normal; }
  tab\le .tab\le_header b {
    font-weight: normal; }

.category_totals {
  border-top: 10px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 10px solid transparent; }

.hide {
  margin-left: 50px;
  padding: 15px;
  animation: 1s fadeIn;
  -webkit-animation: 1s fadeIn;
  color: white; }
  .hide .borderRBL {
    background-color: transparent; }
    .hide .borderRBL di\v a {
      color: white; }
  .hide a:visited, .hide a:active, .hide a:link {
    color: white;
    text-decoration: underline; }

@keyframes fadeIn {
  from {
    opacity: 0.1; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.1; }
  to {
    opacity: 1; } }
.td2 {
  background-color: #FAFAFA; }

.td2, .td1 {
  padding-bottom: 5px;
  padding-top: 5px; }
  .td2:nth-child(2), .td1:nth-child(2) {
    width: 500px; }
    .td2:nth-child(2) small a, .td1:nth-child(2) small a {
      display: inline-block;
      height: 20px; }
  .td2 di\v small, .td2 di\v small a:link, .td2 di\v small a:active, .td2 di\v small a:visited, .td1 di\v small, .td1 di\v small a:link, .td1 di\v small a:active, .td1 di\v small a:visited {
    color: transparent; }
  .td2 di\v small a:first-child, .td1 di\v small a:first-child {
    background: url(https://i.imgur.com/7F6Lo8L.png) no-repeat center center; }
  .td2 di\v small a:last-child, .td1 di\v small a:last-child {
    background: url(https://i.imgur.com/DiqN8wh.png) no-repeat center center; }

#copyright {
  text-align: center;
  margin: 0 auto;
  background-color: #F2F2F2;
  padding: 20px;
  margin-bottom: 20px; }

/* ============================= The top strip above everything */
#mal\_control\_strip {
  position: relative !important;
  left: 1px !important;
  background-image: none !important;
  background-color: transparent !important;
  height: 80px !important;
  width: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: -12px !important;
  margin-top: 10px !important;
  border: 0 !important; }
  #mal\_control\_strip a:link, #mal\_control\_strip a:visited, #mal\_control\_strip a:active {
    text-decoration: none !important; }
  #mal\_control\_strip t\d di\v#search {
    color: black !important;
    padding: 0 !important;
    margin: 0 !important; }

#mal_cs_listinfo, #mal_cs_links, #mal_cs_otherlinks, #mal_cs_pic {
  border: 0 !important;
  border-right: 8px solid white !important;
  width: 306px !important;
  background-color: #005C7A !important; }

#mal_cs_listinfo {
  background: url(https://i.imgur.com/hw5DN6D.png) no-repeat 260px center; }
  #mal_cs_listinfo di\v:first-child a {
    font-size: 20px !important; }
    #mal_cs_listinfo di\v:first-child a strong {
      font-weight: normal !important; }

#mal_cs_pic, #mal_cs_pic + #mal_cs_otherlinks {
  width: 474px !important; }
#mal_cs_pic + #mal_cs_otherlinks {
  background: url(https://i.imgur.com/gQTXnqp.png) no-repeat 420px center; }

#mal_cs_links {
  background: url(https://i.imgur.com/sWhb5aN.png) no-repeat 260px center; }
  #mal_cs_links di\v a:nth-child(2) {
    padding-left: 20px !important; }

#mal_cs_otherlinks {
  background: url(https://i.imgur.com/gQTXnqp.png) no-repeat 260px center; }
  #mal_cs_otherlinks d\iv {
    width: 243px !important; }
    #mal_cs_otherlinks d\iv strong {
      font-weight: normal !important; }

#mal_cs_powered {
  position: fixed !important;
  height: 30px !important;
  width: 100% !important;
  top: auto !important;
  right: auto !important;
  left: 0px !important;
  bottom: 6px !important;
  text-align: left !important; }
  #mal_cs_powered a {
    display: none !important; }

#searchBox {
  width: 100% !important;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px !important;
  border: 0;
  padding: 0;
  background: #005C7A url("https://cdn.myanimelist.net/images/magnify.gif") no-repeat center left 7px !important;
  color: white;
  position: relative;
  bottom: 0; }

#search {
  padding: 0 !important;
  padding-top: 30px !important;
  margin: 0 !important;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: -30px;
  transition: bottom 0.25s 0.2s; }
  #search:hover {
    bottom: 0; }

#searchListButton {
  display: none; }

#fancybox-wrap {
  background-color: #0072C6 !important; }

#fancybox-wrap, #fancybox-outer {
  animation: 0.5s fadeIn;
  -webkit-animation: 0.5s fadeIn; }

.fancy-bg {
  background: none !important; }

#fancybox-close {
  background: url(https://i.imgur.com/QK8xGbQ.png) top left no-repeat !important; }

/*# sourceMappingURL=main.css.map */
